.header {
    width: 100%;
    height: 60px;
    background-color: rgba(51,115,44,0.4);
}
.z-drop-menu {
    display: flex;
   list-style: none;
   padding: 0;
   box-sizing: border-box;
}
.drop-menu {
   position: relative;
}
.z-drop-menu li {
    padding: 8px 10px;
}
a:link {
    text-decoration: none;
    padding: 0 10 px;
}